ul.menu {
    display: block;
    margin: 0px 0px 0px 3%;
    padding: 0px;
	width: 120px;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a, button {
	font: inherit;
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
button {
	border: none;
}

ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: block;
    position: absolute;
    width: 120px;
    top: 35px;
    left: 0px;
	padding: 0px;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}